seed/workflows/s3-smoke.json
{
  "name": "S3 Smoke (Set -> ConvertToFile -> S3)",
  "nodes": [
    {
      "parameters": {},
      "id": "ManualTrigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [300, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "fileName",
              "value": "={{ 'hello-' + $now.toUnix() + '.json' }}",
              "type": "string"
            },
            {
              "name": "contentString",
              "value": "={{ JSON.stringify({ message: 'hello aethra', ts: $now.toISO() }, null, 2) }}",
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [520, 300],
      "id": "SetNode",
      "name": "Set"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "contentString",
        "options": {
          "fileName": "={{ $json.fileName }}",
          "mimeType": "application/json",
          "binaryPropertyName": "file"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [740, 300],
      "id": "ConvertToFile",
      "name": "Convert to File"
    },
    {
      "name": "S3 Upload",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "binaryPropertyName": "file",
        "bucketName": "aethra-outputs",
        "fileName": "={{ $json.fileName }}"
      },
      "credentials": {
        "s3": { "name": "Aethra S3 (MinIO Local)" }
      },
      "id": "S3Upload",
      "position": [960, 300]
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{ "node": "Set", "type": "main", "index": 0 }]] },
    "Set": { "main": [[{ "node": "Convert to File", "type": "main", "index": 0 }]] },
    "Convert to File": { "main": [[{ "node": "S3 Upload", "type": "main", "index": 0 }]] }
  },
  "active": false
}
